
 .banner_content{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    margin: auto;
 }
 .banner_content_one{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.banner_content_two{
    font-size: 18px;
}
.banner_content_one h1{
    text-align: start;
    font-size: 55px;
}

.banner_content_one p{
       color: #fff;
}
.banner_content_one p{
    margin-top: 32px;
    font-size: 18px;
    width: 77%;
    text-align: start;
}
.banner_content_one_scanner{ 
    font-size: 10px;
    width: 250px;
    margin-bottom: 20px;
}
.signup_at_vahan{
    width: 380px;
    background-color: #ffffff;
    margin-left: 150px;
    padding: 20px;
    border-radius: 5px;
}
.signup_at_vahan h4{
    font-size: 30px;
    color: #1B2551;
}
.signup_at_vahan input{
    margin-top:20px;
    width: 90%;
    padding: 8px 20px;
    border-radius: 5px;
}
.signup_at_vahan .city_code{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}
.signup_at_vahan .your_code{
    width: 45%;
}
.signup_at_vahan .your_city{
    width: 45%;
}
.signup_at_vahan button{
    margin-top:25px;
    width: 90%;
    background-color: #F36E21;
    color: #fff;
    font-size: 18px;
    font-weight:700;
    padding: 10px 5px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}
@media screen and (min-width: 992px) and (max-width: 1200px){
    .signup_at_vahan{
        margin-left: 50px;
    }
    .banner_content h1{
        font-size: 50px;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px){
    .banner_content{
        display: flex;
        flex-direction: column;
    }
    .section_first{
        background-image: none;
    }
    .banner_content_one{
        width: 100%;
    }
    .banner_content h1{
        font-size: 50px;
        text-align: center;
    }
    .banner_content_one p{
        display: none;
    }
    .banner_content_one_scanner{
        display: none;
    }

    .signup_at_vahan{
        margin-left: 0px;
        margin: 30px 0px;
    }
    
}
@media screen and (min-width: 576px) and (max-width: 992px){
    .banner_content{
        display: flex;
        flex-direction: column;
    }
    .section_first{
        background-image: none;
    }
    .banner_content_one{
        width: 100%;
    }
    .banner_content h1{
        font-size: 50px;
        text-align: center;
    }
    .banner_content_one p{
        display: none;
    }
    .banner_content_one_scanner{
        display: none;
    }

    .signup_at_vahan{
        margin-left: 0px;
        margin: 30px auto;
        width: 90%;
    }
}
@media screen and (max-width: 576px){
    .nav-list-bar{
        padding-left: 0px !important;
    }
    .section_first{
        padding-top: 30px;
    }
    .banner_content{
        display: flex;
        flex-direction: column;
    }
    .section_first{
        background-image: none;
    }
    .banner_content_one{
        width: 100%;
    }
    .banner_content h1{
        font-size: 24px;
        text-align: center;
    }
    .banner_content_one p{
        display: none;
    }
    .banner_content_one_scanner{
        display: none;
    }

    .signup_at_vahan{
        margin-left: 0px;
        margin: 30px 0px;
        width: 100%;
    }
    .banner_content_two{
        margin: auto;   
        width: 100%;
    }
    .why_choose_vahan_bg_section_one_first{
        margin-left: 0px;
    }
    .why_choose_vahan_bg_section_one_second{
        margin-left: 0px;
    }
    .why_choose_vahan_bg_section_one_third{
        margin-left: 0px;
    }
    .why_choose_vahan_bg_section_one_fourth{
        margin-left: 0px;
    }
}